/.idea/
**/__pycache__
/deploy/
/backend/remote-debug-profile/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
backend/.env
backend/*.db*
.pytest_cache/

# Node
node_modules/
dist/
build/
.DS_Store
